body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  stroke: none;
}

.bar:hover {
  fill: lightblue;
  stroke: steelblue;
  stroke-width: 1px;
}

.bar-errors {
  fill: red;
  stroke: none;
}

.bar-errors:hover {
  fill: lightcoral;
  stroke: red;
  stroke-width: 1px;
}

.bar-orange {
    fill: orange;
    stroke: none;
}

.bar-orange:hover {
  fill: lightsalmon;
  stroke: darkorange;
  stroke-width: 1px;
}

.bar-red {
    fill: red;
    stroke: none;
}

.bar-red:hover {
  fill: lightcoral;
  stroke: red;
  stroke-width: 1px;
}

.bar-yellow {
    fill: gold;
    stroke: none;
}

.bar-yellow:hover {
  fill: khaki;
  stroke: goldenrod;
  stroke-width: 1px;
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
}

.circle {
  /*fill: steelblue;*/
  stroke: none;
  stroke-width: 2px;
}

.circle:hover {
  stroke: lightblue;
}

li.line-orange {
    background-color: orange;
}

li.line-red {
    background-color: lightcoral;
}

li.line-yellow {
    background-color: gold;
}

#packet_row {
    height: 200px;
    overflow: auto;
}
